body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #434455;
    background-color: #FFF;
}

h2,h3,h4,h5,h6 {
    color: #2E2F42;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0px;
    margin-bottom: 0px; 
}

ul, ol {
	list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

a {
    text-decoration: none;
    padding-bottom: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container { 
    margin: 0 auto;
    padding-left: 16px;  
    padding-right:16px;
    }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
        
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header */
.header {
    background-color: white;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo-link {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: block;
    margin: auto 0px;
    
}

.logo-black {
    color: #2E2F42;
}
.logo-white {
    color: #F4F4FD;
}



/* Section 2 */
.section-advantages {
    padding-top: 96px;
    padding-bottom: 96px;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
} 

.advantages-list-items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* M O B I L E - 3 2 0 px ===================================================*/
@media screen and (max-width: 320px) {
    .container { 
        max-width: 320px;
        }
    
    /* Header */
    .header-menu,
    .address {
        display: none;
    }
    
    .heder-menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        padding: 16px 0;
        border: none;
        background-color: transparent;
    }

    .heder-menu-icon {
        fill: #2F2F37;
    }

    /* Section 2 */
    .advantages-cont-icon {
        display: none;
    }
    
    .advantages-list-items .title {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        text-align: center;
    }

    .text {
        font-weight: 500;
        line-height: 1.5;
    }
    
}

/* T A B L E T - 7 6 8 px ------- L A P T O P - 1 1 5 8 PX ===================*/
@media screen and (min-width: 321px) {
    /* Menu header */
.header-menu-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.header-menu-nav {
    display: flex;
    gap: 40px;
}

.header-menu-link {
    font-weight: 500;
    color: #434455;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
   
.header-menu-link:hover, 
.header-menu-link:focus {
    color: #404BBF;
}

.header-menu-activ {
    color: #404bbf;
}

.header-menu-activ::after {
    content: "";
    display: block;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: #404BBF;
}

/* Contacts header */
.address {
    font-style: normal;
}

.address-list {
    display: flex;
}

.address-link {
    color: #434455;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
    color: #404BBF;
}
.heder-menu-btn {
    display: none;
}
}

/* T A B L E T - 7 6 8 px ====================================================*/
@media screen and (min-width: 321px) and (max-width: 768px) {
    .container { 
        max-width: 768px;
        }

    .logo-link {
        margin: auto 120px auto 0px; 
    } 

    /* Contacts header */
    .address-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
    }

    .address-link {
        padding: 6px 0;
    }

    /* Section 2 */
    .advantages-list {
        gap: 72px 24px;
        flex-wrap: wrap;   
    }   

    .advantages-list-items {
        display: flex;
        flex-direction: column;
        width: calc((100% - 24px) / 2);
    }

    .advantages-cont-icon {
        display: none;
    }
    
    .advantages-list-items .title {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }

    .text {
        font-weight: 500;
        line-height: 1.5;
    }
}

/* L A P T O P - 1 1 5 8 px =================================================*/
@media screen and (min-width: 769px) {
    
    .container { 
        max-width: 1158px;
        padding-left: 15px;  
        padding-right:15px;
    }

    .logo-link {
        margin: auto 76px auto 0px; 
    } 
    
    .address-list {
        display: flex;
        gap: 40px;
    }
    
    /* Section 2 */
    .section-advantages {
        padding-top: 120px; 
        padding-bottom: 120px;
    }

    .advantages-list {
        gap: 24px;
    }

    .advantages-list-items {
        display: flex;
        flex-direction: column;
        width: calc((100%-24px*3)/4);
    }

    .advantages-cont-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        background-color: #F4F4FD;
        margin-bottom: 8px;
    }
    
    .advantages-icon {
        flex-shrink: 0;
    }
    
    .title {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }
}

/* Section 1 */
.hero-image {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        url(../images/people_office_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-image-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFF;
    max-width: 496px;
    margin: 0px auto;
    margin-bottom: 48px;
    
}

.hero-image-button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFF;
    background-color: #4D5AE5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    justify-content: center;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0px auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-image-button:hover,
.hero-image-button:focus {
    background-color: #404BBF;
}

/* Section 3 */
.section-team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F4F4FD;
}

.team-title {
    text-align: center;
    line-height: 1.11;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-speciality {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.title-text {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-social-networks {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.link-social-networks {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-networks:hover,
.link-social-networks:focus {
    background-color: #404bbf;
}

.team-networks-icon {
    fill: #f4f4fd;
}

/* Section 4 */
.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.portfolio-list-items {
    display: flex;
    width: calc(100%-24px*2)/3;
    flex-direction: column;
    align-items: stretch;
    background-color: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.box-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #F4F4FD;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-items:hover,
.portfolio-list-items:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
} 

.portfolio-list-items:hover .overlay,
.portfolio-list-items:focus .overlay {
    transform: translateY(0);
}

.title-text-portfolio {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: 0px;
}

/* Footer */
.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-content {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    margin-right: 120px;
}

.footer .logo-link {
    margin-bottom: 16px;
    display: inline-block;
}

.footer .text {
    max-width: 264px;
}

.footer-networks {
    margin-right: 80px;
}

.text-social-networks {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #FFF;
}

.footer-social-networks {
    display: flex;
    gap: 16px;
}

.box-social-networks {
    width: 40px;
    height: 40px;
}

.footer-link-networks {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-networks:hover,
.footer-link-networks:focus {
    background-color: #31d0aa;
}

.social-networks-icon {
    fill: #f4f4fd;
}

.newsletter {
    margin: 0 0 0 auto;
}

.newsletter-form {
    display: flex;
    gap: 24px;
}

.input {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffffff;
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #FFF;
    border-radius: 4px;
    flex-shrink: 0;
    background-color: transparent;
    outline: transparent;
}

.input::placeholder {
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.48px;
}

.newsletter-button {
    background-color: #4D5AE5;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    padding: 8px 24px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: #FFF;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-button:hover,
.newsletter-button:focus {
    background-color: #404BBF;
}

.newsletter-logo {
    fill: white;
    margin-left: 16px;
}

/* Modal window */
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    padding: 72px 24px 24px 24px;
    background-color: #FCFCFC;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-btn:hover,
.modal-btn:focus {
    border: none;
    background-color: #404bbf;
}

.modal-close-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-close-icon,
.modal-btn:focus .modal-close-icon {
    fill: white;
}

.modal-text {
    color: #2E2F42;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-box {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.modal-form-input {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #2E2F4266;
    background-color: transparent;
    padding-left: 38px;
    padding-right: 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}

.modal-form-textarea {
    margin-bottom: 16px
}

.modal-textarea {
    resize: none;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-textarea::placeholder {
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.48px;
}

.checkbox {
    margin-bottom: 24px;
}

input[type="checkbox"] + label > span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

input[type="checkbox"]:checked + label > span {
    border: none;
    background-color: #404BBF;
    fill: #F4F4FD;
}

.privacy-policy{
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-weight: 400;
    letter-spacing: 0.48px;
}

.privacy-policy-link {
    color: #4D5AE5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
}

.modal-button-send {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #ffffff;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-send:hover,
.modal-button-send:focus {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
